## docker config
docker_storage_driver: overlay2
docker_insecure_registries: ["your.registry-example.com:8086", "your.registry-example.com:8087"]
docker_insecure_user: "<your_registry_user>"
docker_insecure_password: "<your_registry_password>"

## kubernetes config
kubernetes:
  apiserver: 
    advertise_address: {{ ansible_host }}
    cert_extra_sans: 
      - --apiserver-cert-extra-sans="{{ ansible_host }}"
      - --apiserver-cert-extra-sans="<your-external-ip-or-domain>"
      